.blog__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 50px 0;

  h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 54.64px;
    color: #454545;
    @media (max-width: 450px) {
      font-size: 33px;
      line-height: 46px;
    }
  }
  a {
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
    border: 1px solid #454545;
    color: #454545;
    transition: 0.3s;
    svg {
      font-size: 20px;
      transition: 0.3s;
    }
    &:hover {
      svg {
        transform: translate(5px);
      }
    }
  }
}
